<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <p >{{employeedata?.E_Role}}</p>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex" role="search">
                <p> {{employeedata?.E_Name}}<i class="fa-regular fa-circle-user"></i></p>
            </form>
        </div>
    </div>
</nav>
