<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 250px;min-height: 100vh;background-color: 
#483d53; color: white; position: fixed;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a
                href="#"
                class="nav-link link-light"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/Home/Job']" >
                 <i class="fa-solid fa-person-booth fa-xl"></i> Jobs
            </a>
        </li>
        <li>
            <a href="#"
                class="nav-link link-light"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/Home/MaterialData']"  >
               <i class="fa-solid fa-bowling-ball fa-xl"></i> Materials
            </a>
        </li>
        <li>
            <a
                href="#"
                class="nav-link link-light"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/Home/AssignJob']" >
              <i class="fa-regular fa-id-card fa-xl"></i>  Assign Job
            </a>
        </li>
        <li>
            <a
                href="#"
                class="nav-link link-light"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/Home/Designer']">
                 <i class="fa-solid fa-chalkboard-user fa-xl"></i>  Design Job
            </a>
        </li>
    </ul>
    <hr>
    <div class="">
        <strong (click)="Logout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i>  Log Out</strong>
    </div>
</div>
