.active-link {
    background-color: #5b4c73 !important;
    /* Active clicked color */
    color: white !important;
    border-left: 2px solid white;
}

.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: #483d53;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}