* {
    background-color: #22192c;
}

/* Full screen */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;          /* adjust as needed */
  background: #3f365f;   /* match your theme */
  /* height: 100vh; */
  position: fixed;
  left: 0;
  top: 0;
}

/* Right content */
.content {
  margin-left: 250px;    /* same as sidebar width */
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #1f1b2e;   /* your dark background */
}

/* Navbar height */


/* Router content */
.page-content {
  flex: 1;
  padding: 3%;
  overflow-y: scroll;
}
